<%= render 'header' %>
<div class= "content-page">
  <div class="contents container">
    <%= link_to "画像を投稿する", new_picture_path, class: 'btn btn-default' %>
    <div class= "row top-row">
      <% @pictures.each do |picture| %>
        <div class="col-md-6 col-sm-12">
          <article class="row">
            
            <div class="col-sm-5 col-sm-offset-1">
              <%= picture_img(picture.image.thumb) if picture_img(picture.image.thumb) %>
            </div>
            <div class="col-sm-6">
              <p> by <%= picture.user.name %> </p>
              <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
              <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>
</div>